.add-item-container {
    width: 100%;
    margin: .4rem;
    padding: .6rem .4rem;
    background: $addItemContainerBackground;
    border-radius: .2rem;
}

.add-item-input {
    border: none;
    outline: none;
    padding: .2rem;
    border-radius: .2rem;
    width: 200px;
}

.add-item-btn {
    border: none;
    outline: none;
    padding: .2rem .8rem;
    border-radius: .2rem;
    background: $addItemBtn-background;
    color: $addItemBtn-color;
}