.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-clear{
    background: $red;
    border: none;
    border-radius: 2px;
    padding: .3rem .6rem;
    color: $white;
    &:hover{
        background: darken($red, 5%);
        cursor: pointer;
    }
}

.btn-add{
    background: grey;
    border-radius: 100px;
    padding: 1rem;
    &:hover,
    &:focus,
    &:active {
        background: darken($gray, 5%);
        cursor: pointer;
    }
}


.btn-edit{
    position: absolute;
    right: 15px;
    top: 15px;
}
