* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $font-family-roboto;
    font-size: 1em;
}

body {
    background: $black;
    .modal-open{
        overflow: hidden;
    }
}
