.btn-clear{
    float: right;
    background: $red;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    color: $white;
}

.btn-add{
    float: left;
    background: grey;
    border-radius: 2px;
    padding: 5px 10px;
    color: $white;
}

.btn-edit{
    position: absolute;
    right: 15px;
    top: 15px;
}